@font-face {
  font-family: "Poppins";
  src: local("/fonts/Poppins-Regular.ttf") format("truetype");
}

/* PADROES ----------------------------------------------------------------------------------------------------*/
body{
  font-family: 'Poppins', system-ui !important;
	color: #454545 !important;
}

.pageBody{
  background-color: #e9e9e9 !important;
}

/* INDEX -------------------------------------------------------------------------------------------------------*/
div.acessar-certificado.botoes form a {
  text-align: left !important;
  color: gray !important;
  font-size: 12px !important;
  margin-left: 6px !important;
  margin-top: 5px !important;  
}

div.dados div#divLogin::before{
  display: none !important;
}

div.acessar-certificado.botoes input{
  background: #008cef !important;
  padding: 0 !important;
  width: 80% !important;
}

div.dados div#divLogin:after{
  display: none !important;
}

.btn.btn-primary {
  background: #008cef !important;
}

div.dados > div{
  padding: 0 !important;
  margin: 0 !important;
}

div.identificacao{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* CLASSES DO BOOTSRAP -----------------------------------------------------------------------------------------*/
/* HEADING */
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', system-ui !important;
	color: #686868 !important;
}

.navtop, .navtop .navbar-collapse{
  background: #3d3d3d !important;
  color: #fff !important;
}

.navbar-header{
  max-height: 107px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.navbar-collapse{
  max-height: 107px !important;
  width: 100% !important;
  justify-content: end !important;
}

.nav-topo{
  background: #3d3d3d !important;
}

.navtop .navbar-brand > .titulo{
  font-family: 'Poppins', system-ui !important;
}

.navtop .menu-usuario.open > a:focus, .navtop .menu-usuario.open > a{
	color: #fff !important;
  background-color: #3D3D3D !important;
}

.navtop .nome-sobrenome{
  font-family: 'Poppins', system-ui !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.nav-topo .navbar-nav>li>a:hover{
  background: transparent !important;
}

.tipo.tipo-login {background: #ffd900 !important; box-shadow: 0 0 4px #ffd900 !important}
.tipo.tipo-certificado {background: #0ff340 !important; box-shadow: 0 0 4px #0ff340 !important;}

.navtop .menu-usuario .dropdown-menu label{
  font-family: 'Poppins', system-ui !important;
  font-size: 20px !important;
  text-align: flex-start !important;
}

.navtop .menu-usuario:hover .avatar, .navtop .menu-usuario.open .avatar{
  background: transparent !important;
  border-color: rgba(255,255,255,0.5) !important;
}

.navtop .menu-usuario .avatar{
  background: transparent !important;
}

.navtop .menu-usuario {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.navtop .menu-usuario .dropdown-toggle{
  display: flex !important;
  justify-content: flex-end !important;
}

.nav-topo .navbar-nav>li>a{
  font-family: system-ui !important;
  font-size: 14px !important;
  text-shadow: 0 0 4px rgb(180, 180, 180) !important;
}

.mais-detalhes > .titulo-topo > small{
  font-family: system-ui !important;
  text-transform: uppercase !important;
  max-width: 400px !important;
  font-size: 10px !important;
  margin-top: -7px !important;
}

#titleTags{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 33vw;
  margin: 5px 5px 5px 10px;
}

#titleLocal{
  font-family: system-ui !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  margin: -14px 53px 7px 0 !important;
  color: rgba(255,255,255,0.5) !important;
}

#titlePrioridade{
  font-family: system-ui !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  min-width: 80px !important;
  width: fit-content !important;
  max-width: 30vw !important;
  min-height: 20px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 1px 7px !important;
  color: rgb(211, 22, 22) !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  border-radius: 3px !important;
  margin-right: 5px !important;
  margin-top: 3px !important;
}

#titleSigilo{
  font-family: system-ui !important;
  background-color: rgba(255, 0, 35, 0.9) !important;
  min-width: 80px !important;
  max-width: 30vw !important;
  width: fit-content !important;
  min-height: 20px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 1px 10px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  border-radius: 3px !important;
  margin-right: 5px !important;
  margin-top: 3px !important;
  text-shadow: 0 0 4px rgb(160, 160, 160) !important;
}

#titleDigital{
  font-family: system-ui !important;
  background-color: rgb(45, 90, 255) !important;
  min-width: 80px !important;
  max-width: 30vw !important;
  width: fit-content !important;
  min-height: 20px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 1px 10px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  border-radius: 3px !important;
  margin-right: 5px !important;
  margin-top: 3px !important;
  text-shadow: 0 0 4px rgb(160, 160, 160) !important;
}

#titleAssuntos{
  font-size: 10px !important;
  font-family: system-ui !important;
  color: lightgray !important;
  margin: -7px 0 10px 10px !important;
  max-width: 400px !important;
  max-height: 22px !important;
  padding: 0 !important;
  text-shadow: 0 0 4px rgb(180, 180, 180) !important;
}

/* SCRIPTS LOCAIS -------------------------------------------------------------------------------------- */

.painel-usuario-interno-dashboard .dashboard-item-header{
  background-color: #fff !important;
  color: #454545 !important;
  font-family: monospace !important;
  letter-spacing: 3px !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  border-bottom: 1px solid gray !important;
  padding: 10px !important;
}

.painel-usuario-interno-dashboard .dashboard-item-header i{
  display: none !important;
}

.menuItem, assinatura>div>a{
  font-family: monospace !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
}

.menuItem a{
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.menuItem a:hover{
  background: #c4e1ffab !important;
  color: #0b5fdd !important;
  border-left: 3px solid #0b5fdd !important;
}

#divActions > filtro-tarefas > div > div.row{
  min-height: 45px !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  justify-content: center !important;
  font-family: system-ui !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(1){
  padding: 0 !important;
  margin: 0 0 4px 2px !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(1) > span{
  font-size: 13px !important;
  font-weight: 700 !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(2){
  padding: 0 !important;
  margin: 2px !important;
  height: fit-content !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(2) > span{
  padding: 3px 10px !important;
  margin: 0 !important;
  font-size: 9px !important;
  font-weight: 400 !important;
  border-radius: 4px !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(2) > span::after{
  content: 'PROC' !important;
  margin-left: 3px !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > span.orgao.col-sm-12.no-padding, 
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.row.icones
{
  display: none !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > a > span{
  font-size: 10px !important;
  font-weight: 600 !important;
  color:rgb(60, 60, 60) !important;
  padding-left: 15px !important;
  margin-bottom: 10px !important;
}
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > a > span::before{
  content: "Assunto(s):" !important;
  margin-right: 3px !important;
  font-weight: 400 !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div{
  transition: all 2s !important;
  border-left: 5px solid transparent !important;
  background-color: #ebebeb !important;
  border-bottom: 1px solid lightgray !important;
  box-shadow: none !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div:hover, 
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div:active
{
  border-left: 5px solid #0b5fdd !important;
  background-color: white !important;
  transition: all 1s !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > a > div > span.tarefa-numero-processo.process{
  color: #0b5fdd !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > div.label-info{
  background-color: #606060 !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > div.label-info > span:first-child{
  color: #ebebeb !important;
  font-size: 9px !important;
  font-weight: 500 !important;
  padding: 3px 7px !important;
  text-transform: uppercase !important;
}

#divProcessosTarefa{
  background: #e3e3e3 !important;
}

#divSideBar > side-bar > nav{
  background: transparent !important;
  border-right: none !important;
}

#inputPesquisaTarefas{
  border: none !important;
  height: 33px !important;
  font-size: 12px !important;
}

#dropdown-filtro-tarefas, #divActions > filtro-tarefas > div > div.input-group > span > button{
  border: none !important;
  height: 32px !important;
}