@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "Poppins";
  src: local("/fonts/Poppins-Regular.ttf") format("truetype");
}

/* PADROES ----------------------------------------------------------------------------------------------------*/
:root{
  --cor-tema-fundo: rgb(0, 140, 240);
}


body{
  font-family: 'Poppins', system-ui !important;
	color: #454545 !important;
}

.login-body{
  background: transparent !important;
}

.pageBody{
  background-color: #e9e9e9 !important;
}

/* INDEX -------------------------------------------------------------------------------------------------------*/

    /* --- Ocultar itens desnecessários */
      /* --- Assistente virtual TJBA*/ 
      body > button.solutis-alltalk-button{
        display: none !important;
      }

    /* ---  Reformulação do formulário de login com certificado*/
      /* --- Fundo do formulário */
      .login{
        padding: 2px !important;
      }
      .login div.identificacao{
        background: rgba(255, 255, 255, 0.3) !important;
        border: none !important;
        box-shadow: none !important;
        border-radius: 5px 5px 0 0 !important;
        border-bottom: 1px solid gray !important;
        width: 700px !important;
      }

      body.login-body > div.form-signin{
        background: rgba(255, 255, 255, 0.3) !important;
        border: none !important;
        box-shadow: none !important;
        border-radius: 5px 5px 0 0 !important;
        border-bottom: 1px solid gray !important;
        width: 700px !important;
        margin-left: -350px !important;
        overflow-y: none !important;
      }

      .login div.identificacao > div.dados{
        display: flex !important;
        align-items: flex-end !important;
      }
      
      /* --- Botão de entrar com certificado */
      #kc-form-login .botao-certificado {
        background: #008cef !important;
        padding: 0 50px !important;
        min-height: 40px !important;
        width: max-content !important;
        font-size: 12px !important;
        margin-top: 100px !important;
      }     

      /* --- Divisoria sem a palavra "ou" */
      .div-login::before{
        display: none !important;
      }
       
    /* ---  Reformulação do formulário de login sem certificado */
      /* --- Informação para solicitar nova senha */
      .login #btnTrocarSenha {
        text-transform: uppercase !important;
        font-size: 11px !important;
        color: gray !important;
        text-align: start !important;
        margin-left: 155px !important;
        margin-top: -15px !important;
      }
      /* --- Botão de entrar com usuário e senha */
      .div-login .botao-entrar{
        background: #008cef !important;
        padding: 0 30px !important;
        min-height: 40px !important;
        width: max-content !important;
        margin-bottom: 20px !important;
        font-size: 12px !important;
      }
    
    /* --- Barra de versionamento */
    body > div.conteudo-login > div > div.versaoSistema > div{
      font-size: 10px !important; 
      text-align: left !important;
      margin-left: 20px !important;
    }
    body > div.conteudo-login > div > div.versaoSistema > div::after{
      content: 'Pje Slim - Versão 1.0.15 - 14/05/2024 - 10:07' !important;
      text-transform: capitalize !important;
      color: #008cef !important;
      background-color: white !important;
      border-radius: 20px !important;
      padding: 5px 10px 4px 10px !important;
      margin-left: -10px !important;
      margin-top: 5px !important;
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      width: fit-content !important;
    }

/* CLASSES DO BOOTSRAP -----------------------------------------------------------------------------------------*/
/* HEADING */
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', system-ui !important;
	color: #686868 !important;
}

.navtop, .navtop .navbar-collapse{
  background: var(--cor-tema-fundo) !important;
  color: #fff !important;
}

.navbar-header{
  max-height: 107px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.navbar-collapse{
  max-height: 107px !important;
  width: 100% !important;
  justify-content: end !important;
}

.nav-topo{
  background: var(--cor-tema-fundo) !important;
}

.navtop .navbar-brand > .titulo{
  font-family: 'Poppins', system-ui !important;
}

.navtop .menu-usuario.open > a:focus, .navtop .menu-usuario.open > a{
	color: #fff !important;
  background-color: var(--cor-tema-fundo) !important;
}

.navtop .nome-sobrenome{
  font-family: 'Poppins', system-ui !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.nav-topo .navbar-nav>li>a:hover{
  background: transparent !important;
}

.tipo.tipo-login {background: #ffd900 !important; box-shadow: 0 0 4px #ffd900 !important}
.tipo.tipo-certificado {background: #0ff340 !important; box-shadow: 0 0 4px #0ff340 !important;}

.navtop .menu-usuario .dropdown-menu label{
  font-family: 'Poppins', system-ui !important;
  font-size: 20px !important;
  text-align: flex-start !important;
}

.navtop .menu-usuario:hover .avatar, .navtop .menu-usuario.open .avatar{
  background: transparent !important;
  border-color: rgba(255,255,255,0.5) !important;
}

.navtop .menu-usuario .avatar{
  background: transparent !important;
}

.navtop .menu-usuario {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.navtop .menu-usuario .dropdown-toggle{
  display: flex !important;
  justify-content: flex-end !important;
}

.nav-topo .navbar-nav>li>a{
  font-family: system-ui !important;
  font-size: 14px !important;
  text-shadow: 0 0 4px rgb(180, 180, 180) !important;
}

.mais-detalhes > .titulo-topo > small{
  font-family: system-ui !important;
  text-transform: uppercase !important;
  max-width: 400px !important;
  font-size: 10px !important;
  margin-top: -7px !important;
}

#navbar > .navbar-nav{
  max-width: calc(100vw - 600px) !important;
}

#navbar > .navbar-right {
  display: flex !important;
  justify-content: flex-end !important;
  width: 50vw !important;
  min-width: 400px !important;
}

#navbar > .navbar-right > li > a {
  color: #fff !important;
  font-size: 12px !important;
  padding: 15px !important;
}

#navbar > .navbar-right > li:hover {
  background-color: #ffffff20 !important;
}

#titleTags{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90vw;
  margin: 5px 5px -5px 10px;
}

#titleLocal{
  font-family: system-ui !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  margin: -14px 53px 7px 0 !important;
  color: rgba(255,255,255,0.5) !important;
}

#titlePrioridade{
  font-family: system-ui !important;
  background-color: rgb(255, 255, 255) !important;
  min-width: 80px !important;
  width: fit-content !important;
  max-width: 30vw !important;
  min-height: 20px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 1px 7px !important;
  color: rgb(211, 22, 22) !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  border-radius: 3px !important;
  margin-right: 5px !important;
  margin-top: 3px !important;
  border: 1px solid var(--cor-tema-fundo) !important;
  box-shadow: 0 1px 4px #3d3d3d;
}

#titleSigilo{
  font-family: system-ui !important;
  background-color: rgba(255, 0, 35, 1) !important;
  min-width: 80px !important;
  max-width: 30vw !important;
  width: fit-content !important;
  min-height: 20px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 1px 10px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  border-radius: 3px !important;
  margin-right: 5px !important;
  margin-top: 3px !important;
  text-shadow: 0 0 4px rgb(160, 160, 160) !important;
  border: 1px solid var(--cor-tema-fundo) !important;
  box-shadow: 0 1px 4px var(--cor-tema-fundo);
}

#titleDigital{
  font-family: system-ui !important;
  background-color: rgb(45, 90, 255) !important;
  min-width: 80px !important;
  max-width: 30vw !important;
  width: fit-content !important;
  min-height: 20px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 1px 10px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  border-radius: 3px !important;
  margin-right: 5px !important;
  margin-top: 3px !important;
  text-shadow: 0 0 4px rgb(160, 160, 160) !important;
  border: 1px solid var(--cor-tema-fundo) !important;
  box-shadow: 0 1px 4px var(--cor-tema-fundo);
}

#titleAssuntos{
  font-size: 10px !important;
  font-family: system-ui !important;
  color: lightgray !important;
  margin: -7px 0 10px 10px !important;
  max-width: 400px !important;
  max-height: 22px !important;
  padding: 0 !important;
  text-shadow: 0 0 4px rgb(180, 180, 180) !important;
}

/* SCRIPTS LOCAIS -------------------------------------------------------------------------------------- */

.painel-usuario-interno-dashboard .dashboard-item-header{
  background-color: #fff !important;
  color: #454545 !important;
  font-family: monospace !important;
  letter-spacing: 3px !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  border-bottom: 1px solid gray !important;
  padding: 10px !important;
}

.painel-usuario-interno-dashboard .dashboard-item-header i{
  display: none !important;
}

.menuItem{
  font-family: 'Poppins', system-ui !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
}

assinatura > div > a{
  border-left: 3px solid gold !important;
}

.menuItem a{
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.menuItem a:hover{
  background: #e3f1ffab !important;
  color: #0b5fdd !important;
  border-left: 3px solid #0b5fdd !important;
}

#divActions > filtro-tarefas > div > div.row{
  min-height: 45px !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  justify-content: center !important;
  font-family: system-ui !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(1){
  padding: 0 !important;
  margin: 0 0 4px 2px !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(1) > span{
  font-size: 13px !important;
  font-weight: 700 !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(2){
  padding: 0 !important;
  margin: 2px !important;
  height: fit-content !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(2) > span{
  padding: 3px 10px !important;
  margin: 0 !important;
  font-size: 9px !important;
  font-weight: 400 !important;
  border-radius: 4px !important;
}

#divActions > filtro-tarefas > div > div.row > div:nth-child(2) > span::after{
  content: 'PROC' !important;
  margin-left: 3px !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > span.orgao.col-sm-12.no-padding,
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.row.icones > div > pje-lembretes
{
  display: none !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.row.icones{
  border: none !important;
}
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.row.icones > div{
  filter: grayscale(1) !important;
  height: 20px !important;
  border: none !important;
}
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.row.icones > div.pull-left{
  padding-left: 25px !important;
}
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.row.icones > div > pje-link-autos-digitais > button > i::before{
  content: '\f15c' !important;
  filter: grayscale(1) !important;
}
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.row.icones > div > i[title='Processo prioritário']::before{
  content: '\f102' !important;
  filter: grayscale(1) !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > a > span{
  font-size: 10px !important;
  font-weight: 600 !important;
  color: var(--cor-tema-fundo) !important;
  padding-left: 15px !important;
  margin-bottom: 10px !important;
}
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > a > span::before{
  content: "Assunto(s):" !important;
  margin-right: 3px !important;
  font-weight: 400 !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div{
  transition: all 2s !important;
  border-left: 5px solid transparent !important;
  background-color: #ebebeb !important;
  border-bottom: 1px solid lightgray !important;
  box-shadow: none !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div:hover, 
#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div:active
{
  border-left: 5px solid #0b5fdd !important;
  background-color: white !important;
  transition: all 1s !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > a > div > span.tarefa-numero-processo.process{
  color: #0b5fdd !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > div.label-info{
  background-color: var(--cor-tema-fundo) !important;
}

#processosTarefa > p-datalist > div > div > ul > li > processo-datalist-card > div > div.col-sm-11.no-padding.pt-5 > div.label-info > span:first-child{
  color: #ebebeb !important;
  font-size: 9px !important;
  font-weight: 500 !important;
  padding: 3px 7px !important;
  text-transform: uppercase !important;
}

#divProcessosTarefa{
  background: #e3e3e3 !important;
}

#divSideBar > side-bar > nav{
  background: transparent !important;
  border-right: none !important;
}

#inputPesquisaTarefas{
  border: none !important;
  height: 33px !important;
  font-size: 12px !important;
}

#dropdown-filtro-tarefas, #divActions > filtro-tarefas > div > div.input-group > span > button{
  border: none !important;
  height: 32px !important;
}

/* CONSULTA DE PROCESSO */
.timeline{
  background-color: whitesmoke !important;
}

.timeline .media{
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

/*.timeline .media.interno.tipo-M{
  background-color: white !important;
}*/

.timeline .media.interno .media-left::after,
.timeline .media.interno .media-left::before{
  display: none !important;
}

.timeline .media.interno .media-left span.icon-auto{
  width: 5px !important;
  height: 15px !important;
  border-radius: 2px !important;
  margin-left: 3px !important;
  margin-top: 11px !important;
  position: absolute !important;
}

.timeline .media.interno.tipo-M .media-left span.icon-auto{
  height: 5px !important;
  background-color: #686868 !important;
  margin-top: 16px !important;
}

.timeline .media.interno.tipo-D .media-body,
.timeline .media.interno.tipo-M .media-body{
  width: 100% !important;
  background-color: white !important;
}

.timeline .media.interno.tipo-M > .box,
.timeline .media.interno.tipo-D > .box{
  border-left-style: solid !important;
  border-left-width: 5px !important;
  border-left-color: gold !important;  
  background: white !important;
  border-bottom: 1px solid lightgray !important;
  padding: 10px 5px !important;
}

.timeline .media.interno.tipo-D.active > .media-body.box{
  border-left-style: solid !important;
  border-left-width: 5px !important;
  border-left-color: rgb(45,90,255) !important;
  background: #c9e6ff !important;
}

.timeline .media.interno.tipo-D > .box .anexos{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-wrap: wrap !important;
  margin: 0 !important;
  padding: 0 !important;
}

.timeline .media.interno.tipo-D > .box > .anexos > a{
  min-width: 25px !important;
  min-height: 25px !important;
  font-size: 11px !important;
  font-weight: 500 !important;  
  margin: 0 3px !important;
}

.timeline .media.interno.tipo-D > .box > .anexos > div > a > i.fa-sticky-note{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

.timeline .media.interno.tipo-D > .box > .anexos > div > a > i.fa-sticky-note::after{
  content: 'Lembrete' !important;
  min-height: 10px !important;
  min-width: 30px !important;
  border-radius: 3px !important;
  font-size: 9px !important;
  font-weight: 500 !important;
  font-family: 'Poppins', system-ui !important;
  color:#454545 !important;
  padding: 2px 5px !important;
  margin-left: 3px !important;
  background-color: gold !important;
}

.timeline .media.interno > .media-body.box > div:last-child{
  display: none !important;
}

.timeline .media.interno.tipo-D.active > .media-body.box > div:last-child{
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.timeline .media.interno.tipo-D.active > .media-body.box > div:last-child::before{
  content: 'Movimentação realizada às' !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  margin-right: 3px !important;
  color: #686868 !important;
}

.timeline .media.interno .media-body i.fa-bullhorn{
  display: none !important;
}

.timeline .media.interno .media-body i.fa-clipboard{
  margin: 0 5px !important;
}

.timeline .media.interno .media-body,
.timeline .media.interno .media-body .text-upper{
  font-size: 12px !important;
  font-family: 'Poppins', system-ui !important;
  margin-left: 3px !important;
}

.timeline .media.interno .media-body .anexos a{
  font-size: 11px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  padding: 5px 0 5px 10px !important;
  font-family: 'Poppins', system-ui !important;
  background-color: transparent !important;
  margin: 0 -3px 0 0 !important;
}

.timeline .media > .media-body{
  padding: 4px 5px 2px !important;
  line-height: 17px !important;
}

.timeline .media > .media-body.box{
  background: transparent !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;
}

.timeline .media.data{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px 5px 0 0 !important;
  width: fit-content !important;
  font-weight: 500 !important;
  text-align: left !important;
  font-size: 10px !important;
  font-family: 'Poppins', system-ui !important;
  margin: 5px 3px 0 3px !important;
  border-left-style: solid !important;
  border-left-width: 5px !important;
  border-left-color: gold !important;
  background: white !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-bottom-color: lightgray !important;
}

.timeline .media.data.div-data-rolagem{
  display: block;
  transform: scale(1.4);
  position: fixed !important;
  border-radius: 0px !important;
  border: none !important;
  box-shadow: 0 0 4px gray !important;
  width: 100px !important;
  left: 15px !important;
}

.timeline div.media.data > .media-body{
  width: fit-content !important;
  padding: 0 15px 0px 10px !important;
  margin-bottom: 0 !important;
}

.mini-button{
  border: none !important;
  padding: 1px 10px !important;
  height: 15px !important;
  margin: 0 10px !important;
  color: black !important;
  font-size: 8px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  font-family: 'Poppins', system-ui !important;
}

.container-fluid>.navbar-header {
  width: fit-content;
}